.page-header {
  margin: 0 auto;
  min-height: 665px;
  background-color: #ffffff;
}

.page-header__wrapper {
  position: relative;
  display: flex;
  background-color: #ffffff;

  &::before {
    z-index: 5;
    position: absolute;
    content: "";
    top: 142px;
    left: 160px;
    width: 415px;
    height: 523px;
    background: url("../img/Layer_36.png") no-repeat;
  }
}

.page-header__arrow {
  position: relative;
  @include list;
}

.page-header__left-item,
.page-header__right-item {
  z-index: 4;
  position: absolute;
  top: 90px;
  width: 7px;
  height: 14px;
}

.page-header__left-item {
  left: 360px;
}

.page-header__right-item {
  left: 420px;
}

.page-header__product {
  position: relative;
  display: flex;

  &::before {
    z-index: 2;
    position: absolute;
    content: "";
    top: 0;
    left: 220px;
    width: 343px;
    height: 285px;
    background: url("../img/icon-tringle.svg") no-repeat;
  }

  &::after {
    z-index: 3;
    position: absolute;
    content: "";
    top: 70px;
    left: 380px;
    width: 25px;
    height: 52px;
    background: url("../img/salt_bottle.png") no-repeat;

  }
}

.page-header__salt {
  position: relative;
  width: 500px;
  padding: 20px 0 0 20px;
  background-color: #e9eae2;
}

.page-header__sqrt {
  width: 48px;
  height: 48px;
  display: flex;
  flex-wrap: wrap;
}

.page-header__green {
  margin: 0;
  width: 24px;
  height: 24px;
  background-color: #bfe79e;
}

.page-header__orange {
  margin: 0;
  width: 24px;
  height: 24px;
  background-color: #f8c255;
}

.page-header__blue {
  margin: 0;
  width: 24px;
  height: 24px;
  background-color: #7dd5c9;
}

.page-header__red {
  margin: 0;
  width: 24px;
  height: 24px;
  background-color: #ff9b6d;
}

.page-header__cork {
  margin: 140px 0 10px 30px;
  font-size: 24px;
  font-weight: 300;
  color: $cl-gray;
}

.page-header__price {
  margin: 0;
  margin-left: 30px;
  font-size: 24px;
  font-weight: lighter;
  color: $cl-gray;
}

.page-header__autor {
  width: 400xp;
  padding-top: 145px;
  background-color: #e9eae2;
  text-align: center;
}

.page-header__desc {
  margin: 10px 0 30px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  color: #acada7;
}

.page-header__title {
  margin: 0;
  font-size: 50px;
  font-weight: lighter;
  color: #33342d;
}

.page-header__right {
  width: 382px;
  min-height: 665px;
  background-image: url("../img/bg-right.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.page-header__logo {
  display: block;
}

.page-header__list {
  @include list;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.page-header__item {
  width: 130px;
  padding: 80px 0 0;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: $cl-blue;
  text-align: center;

  &--bowls {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 40px;
      left: 35px;
      width: 34px;
      height: 20px;
      background-image: url("../img/icon-bowls.png");
    }
  }

  &--cups {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 40px;
      left: 35px;
      width: 20px;
      height: 31px;
      background-image: url("../img/icon-cups.png");
    }
  }

  &--disp {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 40px;
      left: 35px;
      width: 13px;
      height: 35px;
      background-image: url("../img/icon-dispensers.png");
    }
  }

  &--furn {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 40px;
      left: 35px;
      width: 41px;
      height: 26px;
      background-image: url("../img/icon-furniture.png");
    }
  }

  &--tabl {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 40px;
      left: 35px;
      width: 33px;
      height: 33px;
      background-image: url("../img/icon-tableware.png");
    }
  }

  &--cutlery {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 40px;
      left: 35px;
      width: 9px;
      height: 33px;
      background-image: url("../img/icon-cutlery.png");
    }
  }

  &--plants {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 40px;
      left: 35px;
      width: 34px;
      height: 39px;
      background-image: url("../img/icon-deco.png");
    }
  }
}
